
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='/bootstrap/css/bootstrap.css')}}">
    <script src="{{url_for('static',filename='/bootstrapcss/bootstrap.js')}}"></script>
    <title>Bootstrap-learn</title>
</head>
 
<body>

  <nav class="navbar navbar-expand-sm bg-dark">

    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-white" href="/">Ewoji's tools</a>
          <li class="nav-item">
            <a class="nav-link text-white" href="/google">谷歌搜索语法生成器</a>
          </li>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-5">
    <h1>本站仅用于存放我写的一些小工具</h1>
    <br>
    <h1>第一次手写网站，如有bug请联系ewoji567@gamil.com</h1>
    <br>
    <h1>我的博客<a href="https://ewojii.com">Ewoji's Home</h1>

    </div>

</body>
 
</html>
